.session-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway',
    sans-serif;
}

.session-form {
  width: 800px;
  height: 600px;
  background-image: none;
  background-color: white;
  opacity: .9;
  border-radius: 20px;
  // display: flex;
  overflow: hidden;
}

.session-form h2 {
  background: transparent;
   font-family: 'Cabin',
   sans-serif;
}

.sidebar {
      /* width: 60%; */
      width: 300px;
      height: 600px;
      float: right;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: lightgreen;
      opacity: .9;
      text-align: center;
      display: inline-block;
}

.session-details {
      /* width: 60%; */
      width: 500px;
      height: 600px;
      float: right;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}

.session-details label {
  margin-top: 10px;
  margin-bottom: 10px;
}

.input-wrapper {
  width: 336px;
}

.session-input {
  width: 100%;
  border-radius: 5px;
  background-color: linen;
  height: 50px;
  text-indent: 40px;
}

.fontuser {
  position: relative;
}

.fontuser i {
  position: absolute;
  left: 15px;
  top: 40px;
  color: lightgrey;
  font-size: 1.2em;
}

.fontpassword {
  position: relative;
}

.fontpassword i {
  position: absolute;
  left: 15px;
  top: 40px;
  color: lightgrey;
  font-size: 1.2em;
}

.sessionbutton {
  margin-top: 20px;
}
